html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    /*min-height: 600px;*/
    padding-top: 20px;
}
#debug {
    display: block;
}
#server-status li {
    height: 32px;
    padding: 7px 14px;
}
.loading {
    background-image: url("img/loading.gif");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
}

#modal-add-image .modal-dialog,
#modal-add-image .modal-content {
    height: 80%;
}

#modal-add-image .modal-body {
    /* 100% = dialog height, 120px = header + footer */
    height: 80%;
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.list-ports .divisor, .list-volumes .divisor {
    font-size: 20px;
    padding-top: 6px !important;
}

.list-ports .port > div, .list-volumes .volume > div, .list-links .link > div, .list-envs .env > div {
    padding: 1px;
}

.terminal-input {
    left: -10000px;
    position: absolute;
}

.dockmodal-body {
    padding: 0 !important;
}

.terminal-container, .terminal {
    height: 100%;
}

.terminal {
    overflow-x: hidden !important;
}

.terminal-size-indicator {
    display: none !important;
}

.table {
    table-layout:fixed;
}

.truncate {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.label-right {
    float: right;
    padding: 6px 14px;
    margin-left: 3px;
}

.table-without-margin-bottom {
    margin-bottom: 0;
}

.modal-lg {
    width: 96%;
}

#modal-containers-stats .modal-body .panel-container:last-child {
    margin-bottom: 0;
}

.margin-right {
    margin-right: 5px;
}

.dockmodal {
    /*top: 60px !important;*/
}

@font-face {
    font-family: 'FixedsysExcelsior301Regular';
    src: url('css/fonts/fsex300-webfont.eot');
    src: url('css/fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
    url('css/fonts/fsex300-webfont.woff') format('woff'),
    url('css/fonts/fsex300-webfont.ttf') format('truetype'),
    url('css/fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    font-smooth:never;
}

.font-terminal {
    font-family: monospace;
    font-size: 10pt;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}