// Fix for warning with electron - see https://github.com/electron/electron/issues/4420
::selection {
    background: rgba(0, 0, 0, 0.90);
    color: #fff;
}

#tb-presets tbody tr {
    //cursor: pointer;
}

#tb-presets tbody tr.selected {
    background-color: #ef6c00;
}
