// Fix for warning with electron - see https://github.com/electron/electron/issues/4420
::selection {
  background: rgba(255, 255, 125, 0.99);
}

.card-content{
  padding: 10px 15px;
}
.card-reveal {
  padding: 0;
}
.card-reveal .card-title {
  padding: 10px 15px;
}
.card-reveal table tr {
  border-color: rgba(160, 160, 160, 0.2);
}
.card-reveal table tr td:first-child {
  padding-left: 15px;
}
.card-action .btn-floating {

}